<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">Email INFO</div>

                <div class="card-body">
                    <form @submit.prevent="sendEmail" method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                placeholder="Name"
                                v-model="email.name"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text"
                                placeholder="Email"
                                v-model="email.email"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text"
                                placeholder="Subject"
                                v-model="email.subject"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea placeholder="Message"
                                v-model="email.message"
                                class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" :disabled="status" class="btn btn-primary"> Send Email </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'email-form',
    data() {
        return {
            email: {
                name: '',
                email: '',
                subject: '',
                message: ''
            },
            status: false
        }
    },
    methods: {

        sendEmail() {
            this.status = true
            let self = this
            axios.post('/email_send', this.email)
            .then(function (response) {
                self.email = {}
                self.status = false
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
        },
    }
}
</script>

<style>

</style>
