<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-default">
                <div class="card-header">SMTP INFO</div>

                <div class="card-body">
                    <form @submit.prevent="smtpSubmit" method="post">
                        <div class="form-group">
                            <label for="driver">Driver</label>
                            <input type="text"
                                placeholder="Email driver"
                                v-model="smtp.driver"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="driver">Server</label>
                            <input type="text"
                                placeholder="Email server"
                                v-model="smtp.server"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="driver">User Name</label>
                            <input type="text"
                                placeholder="User Name"
                                v-model="smtp.name"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="driver">Password</label>
                            <input type="text"
                                placeholder="Password"
                                v-model="smtp.password"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="driver">Encryption</label>
                            <input type="text"
                                placeholder="encryption"
                                v-model="smtp.encryption"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="driver">Port</label>
                            <input type="text"
                                placeholder="Port"
                                v-model="smtp.port"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"> Save </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: 'smtp-info',
    data() {
        return {
            smtp: {
                driver: '',
                server: '',
                name: '',
                password: '',
                encryption: '',
                port: '',
            }
        }
    },
    mounted() {
        this.fetchSmtp();
    },
    methods: {
        smtpSubmit() {
            axios.post('/smtp_store', this.smtp)
            .then(function (response) {
                alert('data updated')
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        fetchSmtp() {
            axios.get('/smtp_info_index')
            .then(response => {
                this.smtp = response.data
            });
        }
    }
}
</script>

<style>

</style>
